.search-icon{
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    color: #888;
}
input[type="search"] {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}